*{
    background-color: antiquewhite;
    
}
.container{
    height: 100vh;
     
}

.links{
    color: rgb(46, 22, 22);
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}
.links:hover{
background-color: white;
color:white;
background-color: rgba(37, 36, 36, 0.5);
}

h1{
    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
    color: black;
}

p{
    color: red;
}

.dry{
    color: blue;
}

.dryer{
    color: green;
}

li{
    color: blackr;
    font-weight: bold
}

.mainList{
margin: 0 auto;
text-align: center;
/* border: 2px solid red; */
padding: 0px;    
}

.greeting{
text-align:center;

}
.title:hover{
    color: white;
}

.bodyBox{
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
    /* border: 2px solid greenyellow; */

}



.ftext{
    text-align: center;
    color: black;
}

/* ul{
} */

.mainImg{
    width: 350px;
    height: auto;
    padding: 10px;
  
}

.mainImg:hover{
    background-image: linear-gradient(rgba(20, 20, 20, 0.527),rgba(37, 36, 36, 0.5)) ;
    /* filter:blur(5px); */
    filter:opacity(70%);
}

.images{
    display: flex;
    justify-content: center;
    text-align: center;

}

#git{
    width: 100%;
    max-width: 64px;
    height: auto;

}

#git:hover{
    background-color:rgb(237, 8, 27);
    border-radius: 90px;
    filter:blur(2px);
    
}
.temp{
    list-style-type: none;

}

.header{
    text-align: center;
}

#images{
width: 100%;
max-width:800px;
length: auto;


}

.description{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    border-bottom: 1px solid black;
}

.imgHolder{
    min-width:250px;
    length: auto;
    width: 850px;
    margin-center: auto;
    max-width:800px;
    
}
